@model IEnumerable<CommonSolution.Dto.DtoReclamo>

@{
    ViewBag.Title = "Listar reclamos";
}

<div class="starter-template" style="margin-top: -20px">
    <h1>Listar reclamos</h1>
</div>

@Html.Partial("Mapa")

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaHoraIngreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDZona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDCuadrilla)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.FechaHoraIngreso)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Estado)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Observaciones)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Latitud)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Longitud)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IDZona)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IDCuadrilla)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </td>
</tr>
    }

</table>

@section Scripts {
    @Scripts.Render("~/bundles/VisorReclamos")
    @Scripts.Render("~/bundles/googleMaps")
}
