@model IEnumerable<CommonSolution.Dto.DtoCuadrilla>

@{
    ViewBag.Title = "Listar cuadrillas";
}

<div class="starter-template" style="margin-top: -20px">
    <h1>Listar cuadrillas</h1>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.encargado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidadPeones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observaciones)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.encargado)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.cantidadPeones)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Observaciones)
    </td>
    <td>
        @Html.ActionLink("Modificar", "Edit", new { id = item.id }) |
        @Html.ActionLink("Reclamos asignados y en curso", "ReclamosPorIdCuadrilla", new { item.id }) |
        @Html.ActionLink("Borrar", "Delete", new { id = item.id })
    </td>
</tr>
}

</table>
