@model IEnumerable<CommonSolution.DTO.DtoReclamosAtrasados>

@{
    ViewBag.Title = "ReclamosAtrasados";
}

<div class="starter-template" style="margin-top: -20px">
    <h1>Reclamos atrasados</h1>
</div>

<table class="table">
    <tr>
        <th>ID Reclamo</th>
        <th>Diferencia de horas</th>
        <th>Fecha de ingreso</th>
        <th>Estado</th>
        <th>Observaciones</th>
        <th>Latitud</th>
        <th>Longitud</th>
        <th>ID zona</th>
        <th>ID Cuadrilla</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.reclamo.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidadHorasRetraso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reclamo.FechaHoraIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reclamo.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reclamo.Observaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reclamo.Latitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reclamo.Longitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reclamo.IDZona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reclamo.IDCuadrilla)
            </td>
        </tr>
    }

</table>