@model CommonSolution.DTO.DtoLogin

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<div class="starter-template" style="margin-top: -20px">
    <h1>Login</h1>
    <hr />
    <h4>@Session["ERROR"]</h4>
</div>

@using (Html.BeginForm("Login", "Login"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NombreUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NombreUsuario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NombreUsuario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type= "password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Iniciar sesion" class="btn btn-dark" />
            </div>
        </div>
    </div>
}
<br />
@Html.ActionLink("Olvidé mi contraseña", "RecuperarCodigoView", "Usuario")

