<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ayuntamiento de Toledo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/googleMaps")
    <link rel="icon" type="image/png" href="~/Content/IMG/escudoToledo.png">
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Nombre de la aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                        <li>@Html.ActionLink("Nueva zona", "Index", "Zona")</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>*@
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">TOLEDO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"> @Html.ActionLink("IngresarFuncionario", "login", "login", null, new { @class = "nav-link" }) </li>
                <li class="nav-item"> @Html.ActionLink("Limpiar Cookie", "LogOut", "login", null, new { @class = "nav-link" }) </li>
                <li class="nav-item"> @Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "nav-link" }) </li>
                <li class="nav-item"> @Html.ActionLink("Agregar Tipo de reclamo", "Agregar", "TipoReclamo_", null, new { @class = "nav-link" }) </li>
                <li class="nav-item"> @Html.ActionLink("Listar Tipo de reclamo", "Listar", "TipoReclamo_", null, new { @class = "nav-link" }) </li>
                <li class="nav-item"> @Html.ActionLink("Agregar zona", "Agregar", "Zona", null, new { @class = "nav-link" }) </li>
                <li class="nav-item"> @Html.ActionLink("Listado de zona", "Listar", "Zona", null, new { @class = "nav-link" }) </li>
                <li class="nav-item"> @Html.ActionLink("Nueva Cuadrilla", "Agregar", "Cuadrilla", null, new { @class = "nav-link" }) </li>
                <li class="nav-item"> @Html.ActionLink("Listar Cuadrilla", "Listar", "Cuadrilla", null, new { @class = "nav-link" }) </li>
                <li class="nav-item"> @Html.ActionLink("Agregar reclamo", "Agregar", "Reclamo", null, new { @class = "nav-link" }) </li>
                <li class="nav-item"> @Html.ActionLink("Listar reclamos", "Listar", "Reclamo", null, new { @class = "nav-link" }) </li>
                <li class="nav-item"> @Html.ActionLink("Nuevo Usuario", "Agregar", "Usuario", null, new { @class = "nav-link" }) </li>
                <li class="nav-item"> @Html.ActionLink("Listar Funcionarios", "Listar", "Usuario", null, new { @class = "nav-link" }) </li>
                <li class="nav-item"> @Html.ActionLink("Listar clientes", "ListarClientes", "Usuario", null, new { @class = "nav-link" }) </li>

            </ul>  
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <main role="main" class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ayuntamiento de Toledo</p>
        </footer>
    </main>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
